.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.touchesRight {
  position: relative;
  top: -46px;
  right: 195px;
}

.touchesLeft {
  position: relative;
  top: 140px;
  right: -195px;
}
