.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.touchesRight {
  position: absolute;
  top: 70px;
  left: 100px;
}

.touchesLeft {
  position: absolute;
  bottom: 40px;
  right: 100px;
}
