.button {
  /* resets */
  outline: 0;

  border: 0;
  font-family: FiraSans-Bold;
  padding: 12px 48px;
  border-radius: 6px;
  background: #009eff;
  color: #fff;
}

.button:active {
  background-color: #006fb3
}

.button.negative {
  background-color: #ff656d;
}

.button.negative:active {
  background-color: #b3474c;
}