.button {
  /* resets */
  outline: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border: 0;
  font-family: FiraSans-Bold;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 12px 48px;
  border-radius: 6px;
  background: #d8d8d8;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.button:active {
  background-color: #a6a6a6;

}

.button.primary {
  background-color: #009eff;
}

.button.primary:active {
  background-color: #006fb3
}

.button.negative {
  background-color: #ff656d;
}

.button.negative:active {
  background-color: #b3474c;
}
