.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.indicatorWrapper {
  margin: 24px 0 8px;
}

.slidesWrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  flex: 1;
}

.back,
.next {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  background: #1f2e66;
  border-radius: 50%;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.back {
  left: 32px;
}

.next {
  right: 32px;
}

.back:hover,
.next:hover {
  opacity: 0.9;
}

.back:active,
.next:active {
  opacity: 0.8;
}

.iconBack,
.iconNext {
  fill: #fff;
  width: 32px;
}

.iconBack {
  transform: rotate(180deg);
  margin-right: 2px;
}

.iconNext {
  margin-left: 2px;
}
