body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.power-up {
  height: 48px;
  width: 48px;
  border-radius: 6px;
  background-color: rgba(51, 51, 51, 0.1);
  outline: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border: solid 2px rgba(51, 51, 51, 0.1);
}

.power-up .power-up-countdown {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

.power-up:disabled {
  border: solid 2px #ffaf48;
  background-color: rgba(0, 11, 50, 0.8);
}

.power-up:disabled .power-up-countdown {
  display: flex;
}

.power-up:disabled:active {
  background-color: rgba(0, 11, 50, 0.8);
}

.power-up > img {
  max-width: 32px;
}

.power-up:active {
  background-color: #c9c9c9;
}

.power-up-shortcut {
  position: absolute;
  width: 24px;
  height: 24px;
  border: solid 2px #eaeaea;
  background-color: #ffffff;
  border-radius: 12px;
  line-height: 22px;
  left: -7px;
  bottom: -7px;
  color: #000b32;
  font-size: 14px;
  font-weight: 600;
  transition: color 0.3s ease;
  box-sizing: border-box;
  text-align: center;
}

.power-up:disabled .power-up-shortcut {
  border: solid 2px #ffaf48;
  color: #000b32;
}
